extends layout

block content
  div(class="container")
    h2 Reducing Noise on the Calendar
    p My small brain turns out not to be capable of handling the full Canvas calendar, what with student groups everywere and whatnot. To solve that problem, this is a stupid-simple web app that splits out your Canvas calendar into multiple calendars based upon the little tags in the titles (like "[Particle Physics]") that tell you which class it belongs to. I think it's great, but YMMV. 

    p Here's how it works:

    div(ng-controller="UrlBuilderController" class="container")
      div(class="form-group")
        label(for="canvasURL") Canvas Calendar URL:
        p(class="help-block") Your <em>Canvas</em> calendar, not your Oasis calendar. Unsurprisingly, it should start with "canvas.wustl.edu".
        input(type="text" ng-model="url" id="canvasURL" class="form-control" placeholder="https://canvas.wustl.edu/feeds/calendars/user_D78OvTin2WewjQSy8uKZqlintfu2yWhayuspDRbF.ics")

      div(class="form-group") 
        label(for="calTag") Calendar Tag:
        p(class="help-block") Every event has a tag (<em>e.g.</em> "[Hearts and Lungs and Stuff 15-16]") that tells you which class it's from. They're found in the titles of the relevant events in your un-split Canvas calendar. Cut and paste from there below:
        p(class="text-warning") Common tags include: <strong>[Renal and Genitourinary 15-16]</strong>, <strong>[Pulmonary 15-16]</strong>, <strong>[Pediatrics 15-16]</strong>, <strong>[Pathology 15-16]</strong>, <strong>[Prac of Med II 15-16]</strong>

        input(type="text" ng-model="tag" id="calTag" class="form-control" placeholder="[Particle Physics 15-16]")

      p <strong>Your link will be built below:</strong>
      p(class="text-muted") Cut and paste the link into iCal, Outlook, <em>etc.</em>
      a {{produce_url(url, tag)}}
