extends layout

block content
  div(class="container")
    h3 Split your canvas calendar into individual classes:

    div(ng-controller="ExampleController")
      div(class="form-group")
        label(for="canvasURL") Canvas Calendar URL:
        input(type="text" ng-model="url" id="canvasURL" class="form-control" placeholder="https://canvas.wustl.edu/feeds/calendars/user_D78OvTin2WewjQSy8uKZqlintfu2yWhayuspDRbF.ics")
      div(class="form-group") 
        label(for="calTag") Calendar Tag:
        input(type="text" ng-model="tag" id="calTag" class="form-control" placeholder="[Particle Physics 15-16]")

      p(class="lead") Thine link appeareth hereabouts:
      a(href="{{produce_url(url, tag)}}") {{produce_url(url, tag)}}
