doctype html
html(ng-app="myApp")
  head
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.js')
    script(src='javascripts/app.js')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block content
